<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body onload="span()">
<h1 align="center" >Error</h1>

<a href="gym">Main</a>
 <footer class=" text-center p-2" id="footer">
    <div class="container-fluid">
    <a href="https://twitter.com/Tarun486Tc"><i class="fab fa-twitter social-icon"></i></a>&emsp;
    <a href="https://www.facebook.com/profile.php?id=100008805401645"><i class="fab fa-facebook social-icon"></i></a>&emsp;
    <a href="https://www.instagram.com/avengers/"><i class="fab fa-instagram social-icon"></i></a>&emsp;
    <a href="mailto:tarun486.tc@gmail.com"><i class="fas fa-envelope social-icon"></i></a>&emsp;
    <p class="p-1">@ Copyright 2018 Gym Booking</p>
  </div>
  </footer>	
  <script type="text/javascript">
  
  function span(){
	  setTimeout(function() {
		  $("#dis").fadeOut('fast');
      }, 5000);
	 
  }
  
  </script>
</body>
</html>