<!DOCTYPE html>
<html lang="en">

<head>
  <title>Gym Booking</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
 <!--fontawesome icon-->
 
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" ></script>
 
 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script> 

  
  <link rel="stylesheet" href="fonts/icomoon/style.css">

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/jquery-ui.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">
  <link rel="stylesheet" href="css/owl.theme.default.min.css">

  <link rel="stylesheet" href="css/jquery.fancybox.min.css">

  <link rel="stylesheet" href="css/bootstrap-datepicker.css">

  <link rel="stylesheet" href="fonts/flaticon/font/flaticon.css">

  <link rel="stylesheet" href="css/aos.css">
  <link href="css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">
  
  <link rel="stylesheet" href="css/style.css">

  <style>

      body{
          background-color: grey;
      }
      #capcha{
          background-color: cornsilk;
          border-radius: 30px; 
      }
      .mt-1{
        background-color: cornsilk;
          border-radius: 30px;  
      }
      span {
		color:yellow ;
}
  </style>


</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300" onload="span();capcha()" style=" font-family: cursive;">

  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container-fluid">
        <div class="d-flex align-items-center">
          <div class="site-logo">
  			<a href="logUser">Workout<span>.</span></a>
          </div>
          <div class="">
            <nav class="site-navigation position-relative text-left" role="navigation">
              <ul class="site-menu main-menu js-clone-nav ml-auto d-none d-lg-block">
 
              </ul>
            </nav>
          </div>

          <div class="ml-auto">
            <nav class="site-navigation position-relative text-right" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
               
            
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
             
              <li class="nav-item"><a href="loginForm" class="nav-link active" >Signup</a></li>
                <li class="nav-item"><a href="loginForm" class="nav-link active" data-bs-toggle="modal">
                <i class="bi bi-person-fill"></i></a>
                </li>
			</ul>
            </nav>
            <a href="#" class="d-inline-block d-lg-none site-menu-toggle js-menu-toggle float-right"><span class="icon-menu h3"></span></a>
          </div>

        </div>
      </div>

    </header><br><br><br><br>
   <!--Code-->


   <form action="processForm" method="post">

    <div class="container">
        <h1 class="text-center" style="color: white;">Registeration form</h1>
    <div class="row">
   
    <div class=" offset-3 col-6 p-3 row">
    <div class="col-6 px-0">
     <input class="form-control mt-1" type="text" name="fname" id="nm" placeholder="Enter you First name">
    <span id="msg2" style="color: yellow ;"></span>
    </div>
    <div class="col-6 px-0">
 <input class="form-control mt-1" type="text" name="lname" id="lm" placeholder="Enter you Last name">
    <span id="msg3" style="color: yellow ;"></span>
    </div>
   
    <input class="form-control mt-1" type="email" name="email" id="emails" placeholder="Enter your email">
    <span id="msg4" style="color: yellow ;"></span><br>
  <!--   <input class="form-control mt-1" type="tel" name="phno" id="phn" placeholder="Enter your phone number" maxlength="10">
    <span id="msg5" style="color: yellow ;"></span><br> -->
    <input class="form-control mt-1" type="text" name="username" id="usrname" placeholder="username">
    <span id="msg6" style="color: yellow ;"></span><br>
    <input class="form-control mt-1" type="password" name="password" id="pswd" placeholder="Enter password">
    <span id="msg8" style="color: yellow ;"></span><br>
    <input class="form-control mt-1" type="password" name="crfpassword" id="cnfrmpswd" onblur="confirmPassword()" placeholder="Confirm password">
    <span id="msg9" style="color: yellow ;"></span><br>
   <!--  <input class="form-control mt-1" type="text" name="address" id="address" placeholder="Enter your address">
    <span id="msg7" style="color: yellow ;"></span><br> -->
    <br>
    
    <div class="col-12">
    <label style="color: black;font-size: 25px;background-color: white;border-radius: 50%"><b> &thinsp;Gender&thinsp; </b></label>&emsp;
    <input type="radio" id="male" value="male" name="gen" onclick="radiob()">&thinsp;<span style="color: white;font-weight: bold;">Male</span>&emsp;
    <input type="radio" id="female" value="female"  name="gen" onclick="radiob()">&thinsp;<span style="color: white;font-weight: bold;">Female</span>&emsp;<br>
    <span id="msg" style="color: yellow ;"></span>
    <br>
    </div>
    <div class="col-12">
    <span style="font-size: 25px;color:yellow;font-weight: bold; background-color: black;border-radius: 50%;"><em>&emsp;Enter capcha&emsp; </em></span>&emsp;&emsp;
    <span id="msg1" style="color: yellow ;"></span><br>
    </div>
    
    
    <div class="row mt-2">
    <div class="col-688">
    <input id="cap" type="button" style="background-color:black ; color: white; border: 0px;width: 200px; height: 50px; font-weight:normal;border-radius: 30px;letter-spacing: 5px;">
    </div>
    <div class=" col-6">
    <input  id="capcha" type="text" placeholder="Enter capcha" class="form-control"> 
    </div>
    </div>
    
    <div class="mt-4 row">
    <div class="col-6"><input style="padding-left:90px ;padding-right: 90px;" class="btn btn-primary" type="reset" value="Reset"></div>
    <div class="col-6"><input style="padding-left:90px ;padding-right: 90px;" class="btn btn-primary" type="submit" onclick="validation()" value="Register" name="register"> </div>
    </div>
   </div>
    </div>
    </div>
   
    </form>
    
   <!--Code--> 
   <br><br><br><br>
    <footer id="contact-section" class="footer-section bg-dark">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <h3 class="text-white">About Workout</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam facere optio eligendi.</p>
          </div>

          <div class="col-md-3 ml-auto">
            <h3 class="text-white">Links</h3>
            <ul class="list-unstyled footer-links">
              <li><a href="#">Home</a></li>
              <li><a href="#">Trainer</a></li>
            </ul>
          </div>

          <div class="col-md-4">
            <h3>Contact us</h3>
            <a href="https://twitter.com/Tarun486Tc"><i class="fab fa-twitter social-icon"></i></a>&emsp;
            <a href="https://www.facebook.com/profile.php?id=100008805401645"><i class="fab fa-facebook social-icon"></i></a>&emsp;
            <a href="https://www.instagram.com/avengers/"><i class="fab fa-instagram social-icon"></i></a>&emsp;
            <a href="mailto:tarun486.tc@gmail.com"><i class="fas fa-envelope social-icon"></i></a>
          </div>

        </div>

        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class=" pt-5">
              <p>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            Copyright &copy;
            <script>document.write(new Date().getFullYear());</script> All rights reserved 
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </p>
            </div>
          </div>

        </div>
      </div>
    </footer>



  </div>
  <!-- .site-wrap -->
  <script type="text/javascript">
    // function validation() {
    //     radiob();capvalid();fname();lname();email();phno();userName();address();password();confirmPassword();
    // }
  
    

    document.body.onsubmit=function(e){
fname();lname();email();userName();password();confirmPassword();radiob();capvalid();
 if(nameerror==false){
            return true;
        }
        else{
            e.preventDefault();
        }
    }

    

    function capcha() {
        var a = Math.floor(Math.random() * 10)
        var b = Math.floor(Math.random() * 10)
        var c = Math.floor(Math.random() * 10)
        var d = Math.floor(Math.random() * 10)
        var sum = a + '' + b + '' + c + '' + d
        document.getElementById("cap").value = sum
    }
    function password() {
        var pwd = document.getElementById('pswd').value;
        var pattern = /^([a-zA-Z0-9_\#\@\.\*\-]{6,20})$/
        if (pwd!="") {
            if (!pattern.test(pwd)) {
                document.getElementById("msg8").innerHTML = " Choose another password "
               
                nameerror=true;
                
            } else {
                document.getElementById('msg8').innerHTML = ''
                	 nameerror=false;
                    
            }
        } else {
            document.getElementById("msg8").innerHTML = " password is required "
           
            nameerror=true;
        }
    }
    
    function confirmPassword() {
        var cpwd = document.getElementById('cnfrmpswd').value
        var pwd = document.getElementById('pswd').value
        if (pwd!=cpwd) {
            document.getElementById("msg9").innerHTML = "password should be same"
            console.log(" nameerror=true;")
            	 nameerror=true;
        } else {
            document.getElementById("msg9").innerHTML = ""
            	 nameerror=false;
            console.log(" nameerror=true;")
        }
    }
    function fname() {
        var firstName = document.getElementById('nm').value
        if (firstName != "") {
            var pattern = /^([a-zA-Z]+)$/
            if (!pattern.test(firstName)) {
                document.getElementById("msg2").innerHTML = "Invalid Name"
                	 nameerror=true;
               
            } else {
                document.getElementById('msg2').innerHTML = ''
                    nameerror=false;
            }
        } else {
            document.getElementById('msg2').innerHTML = 'First name is required'
            	 nameerror=true;
        }
    }

    function lname() {
        var lastName = document.getElementById('lm').value
        if (lastName != "") {
            var pattern = /^([a-zA-Z]+)$/
            if (!pattern.test(lastName)) {
                document.getElementById("msg3").innerHTML = "Invalid Name"
                	 nameerror=true;
            } else {
                document.getElementById('msg3').innerHTML = '';
                nameerror=false;
            }
        } else {
            
            document.getElementById('msg3').innerHTML = 'Last name is required'
            	 nameerror=true;
        }
    }

    function email() {
        var email = document.getElementById('emails').value
        if (email != "") {
            var email = document.getElementById("emails").value;
            var pattern = /^([a-zA-Z0-9_\#\.\*\-]+)@([a-zA-Z]+).([a-zA-Z]{2,3})$/
            if (email.length == 0) { //abc_123@gmail.com
                document.getElementById("msg4").innerHTML = "email is required"
                document.getElementById("msg4").style.color = "red"
                	 nameerror=true;
            } else if (!pattern.test(email)) {
                document.getElementById("msg4").innerHTML = "Invalid Email"
                document.getElementById("msg4").style.color = "red"
                	 nameerror=true;
            } else {
                document.getElementById("msg4").innerHTML = " "
                	 nameerror=false;
            }
        } else {
            document.getElementById('msg4').innerHTML = 'Enter is required'
            	 nameerror=true;
        }
    }

    document.getElementById("emails").onblur = function() {
        var email = document.getElementById("emails").value;
        var pattern = /^([a-zA-Z0-9_\#\.\*\-]+)@([a-zA-Z]+).([a-zA-Z]{2,3})$/
        if (email.length == 0) { //abc_123@gmail.com
            document.getElementById("msg4").innerHTML = "email is required"
            document.getElementById("msg4").style.color = "red"
            	 nameerror=true;
        } else if (!pattern.test(email)) {
            document.getElementById("msg4").innerHTML = "Invalid Email"
            document.getElementById("msg4").style.color = "red"
            	 nameerror=true;
        } else {
            document.getElementById("msg4").innerHTML = " "
            	 nameerror=false;
        }
    }
/*     function phno() {
        var phno = document.getElementById('phn').value
        if (phno != "") {
            var phno = document.getElementById("phn").value;
            var pattern = /^([0-9]+)$/
            if (phno.length == 0) { //abc_123@gmail.com
                document.getElementById("msg5").innerHTML = "Phone no is required"
                	 nameerror=true;
            } else if (phno.length <= 9) {
                document.getElementById("msg5").innerHTML = "Enter ten digit number "
                	 nameerror=true;
            } else if (!pattern.test(phno)) {
                document.getElementById("msg5").innerHTML = "Invalid Phone no"
                	 nameerror=true;

            } else {
                document.getElementById("msg5").innerHTML = " "
                	 nameerror=false;
            }
        } else {
            document.getElementById('msg5').innerHTML = 'Phone no is required'
            	 nameerror=true;
        }
    } */
    document.getElementById("phn").onblur = function() {
        var phno = document.getElementById("phn").value;
        var pattern = /^([0-9]+)$/
        if (phno.length == 0) { //abc_123@gmail.com
            document.getElementById("msg5").innerHTML = "Phone no is required"
            	 nameerror=true;
        } else if (phno.length <= 9) {
            document.getElementById("msg5").innerHTML = "Enter ten digit number "
            	 nameerror=true;
        } else if (!pattern.test(phno)) {
            document.getElementById("msg5").innerHTML = "Invalid Phone no"
            	 nameerror=true;

        } else {
            document.getElementById("msg5").innerHTML = " "
            	 nameerror=false;
        }
    }

    function userName() {
        var uname = document.getElementById('usrname').value;

        if (uname != "") {
            var pattern = /^([a-zA-Z_\#\.\*\-]+)$/
                if (!pattern.test(uname)) {
                    document.getElementById("msg6").innerHTML = "Select another Username"
                    	 nameerror=true;
                } else {
                    document.getElementById('msg6').innerHTML = ''
                    	 nameerror=false;
                }
        } else {
            document.getElementById('msg6').innerHTML = 'Username is required'
            	 nameerror=true;
        }
    }

   /*  function address() {
        var address = document.getElementById('address').value;

        if (address != "") {
        	
            document.getElementById('msg7').innerHTML = ''
            	 nameerror=false;
        } else {
            document.getElementById('msg7').innerHTML = 'Address is required'
            	 nameerror=true;
        }
    } */
    document.getElementById('capcha').onblur = function() {
        capcha = document.getElementById('cap').value
        capcha1 = document.getElementById('capcha').value
        if (capcha == capcha1) {
            document.getElementById('msg1').innerHTML = ''
            	 nameerror=false;
        } else {
            document.getElementById('msg1').innerHTML = 'Invalid'
            	 nameerror=true;
        }
    }

    function capvalid() { 
        var capcha = document.getElementById('capcha').value
        if (capcha != '') {
            capcha = document.getElementById('cap').value
            capcha1 = document.getElementById('capcha').value
            
            if (capcha == capcha1) {
                document.getElementById('msg1').innerHTML = ''
                	 nameerror=false;
            } else { 
                document.getElementById('msg1').innerHTML = 'Invalid'
                	 nameerror=true;
            }
            
        } else { 
            document.getElementById('msg1').innerHTML = ' Please enter capcha.'
            	 nameerror=true;
        }
    }

    function radiob() {
        var gen = ''
        var gender = document.getElementsByName('gen')
        if (gender[0].checked) {
        
            document.getElementById("msg").innerHTML = ' '
            	 nameerror=false;
        } else if (gender[1].checked) {
          
            document.getElementById("msg").innerHTML = ''
            	 nameerror=false;
        } else if (!gender[0].checked && !gender[1].checked) {
            document.getElementById("msg").innerHTML = "Please select gender"
            	 nameerror=true;
        }
    }
</script>
<script type="text/javascript">
  
  function span(){
	  setTimeout(function() {
		  $("#dis").fadeOut('slow');
      },1000);
	 
  }
  
  </script>
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.1.min.js"></script>
  <script src="js/jquery-ui.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.countdown.min.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/aos.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.mb.YTPlayer.min.js"></script>




  <script src="js/main.js"></script>

</body>

</html>